@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body{
    margin: 0;
    font-family: "Playfair Display", serif;
    font-size: 16px;
    font-weight: 400;
    color: #626262;
    
}
header{
    padding: 10px 0;
}

/* common */
.container{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
      
    
}

/* header start */
.logo{
    width: 10%;
    float: left;
    margin: 20px 0;
   
   
}
.logo img{
    width: 100%;
    
}
.menu{
    width: 55%;
    float: right;
}
.menu ul{
    list-style: none;
   

}
.menu ul li{
    float: left;
    
    
}

.menu ul li a{
    font-size: 16px;
    display: inline-block;
    margin: 20px 55px;
    color: #626262;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    transition: .33s linear;
}
.menu ul li:last-child a{
    margin-right: 0;
}
.menu ul li a:hover{
    border-bottom: 1px solid #626262;
    
}

/* header end */


/* banner start */
.b_img img{
    width: 100%;

}
/* banner end */

/* getaway start */
.getaway{
    padding: 100px 0 30px;
}
.container2{
    margin: 0 auto;
    width: 80%;
}
.light{
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}
.title{
    margin: 15px 0 25px;
    font-size: 30px;
    font-weight: 400;
}
.text{
    margin: 0;
    line-height: 24px;
}
.g_link{
    margin-top: 40px;
    display: inline-block;
    text-decoration: none;
    color: #626262;
}
/* getaway end */


/* blog start */
.blog{
    padding: 0 0 100px;
}
.bl_content{
    overflow: hidden;
    

}
.bl_item{
    margin-top: 70px;
    width: 48%;
    float: left;
    border: 1px solid transparent;
    box-sizing: border-box;
    
}
.bl_item:nth-child(even){
    margin-left: 4%;
}
.bl_img{
    margin-bottom: 20px;
}
.bl_img img{
    width: 100%;
}

/* blog end*/

/* newsletter start */
.newsletter{
    background-color: #f0f0f0;
    padding: 70px 0;
}
.signup{
    text-align: center;
    
}
.s_h1{
    color: #333333;
    margin-top: 0;
    margin-bottom: 70px;

}
.s_form{
    width: 400px;
    margin: 0 auto;
    position: relative;
   

}
.s_form input{
    font-family: "Playfair Display", serif;
    font-size: 14px;
    font-weight: 400;
    color: #626262;
    width: 345px;
    height: 45px;
    border: none;
    border-bottom: 1px solid #000000;
    background-color: transparent;
    padding-left: 5px;
    padding-right: 45px;

}
.s_form input:focus{
    outline: 0;
}
.s_form button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 0;

}
.s_form button:focus{
    outline: 0;

}

/* newsletter end */

/* blog2 start */
.blo2{
    margin: 100px 0;
}
.load{
    margin: 150px 0 50px;
    text-align: center;
    
}
.load button{
    width: 165px;
    height: 60px;
    background-color: white;
    border: 1px solid #626262;
    font-family: "Playfair Display", serif;
    font-size: 20px;
    font-weight: 400;
    color: #626262;
    transition: .33s linear;

}
.load button:hover{
    background-color: #626262;
    color: white;

}
/* blog2 end */


/* footer start */
footer{
    height: 95px;
    background-color: #f0f0f0;
    overflow: hidden;

}
.pages{
    width: 27%;
    float: left;
    overflow: hidden;
    margin:20px 0 0 70px;
    

}
.pages ul{
    padding: 0;
}
.pages ul li{
    float: left;
    list-style: none;
    margin-right: 16px;
   

}
.pages ul li a{
    text-decoration: none;
    color: #000000;

}
.social{
    width: 10%;
    float: right;
    overflow: hidden;
    margin: 20px 0 0 0;

}
.social ul{
    padding: 0;
}
.social ul li{
    float: left;
    float: left;
    list-style: none;
    margin-right: 16px;
   

}
.social ul li:last-child{
    margin-right: 0;
}
.social ul li span{
    text-decoration: none;
    color: #000000;

}

/* footer end */